**/CMakeLists.txt.user
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/Testing
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
**/CTestTestfile.cmake
**/_deps

**/*.o
**/*.obj
!res/**/*.obj
**/*.so
**/*.dll
**/*.dll
**/*.dll
**/*.a
**/*.lib
**/*.exe
**/*.out

.cache
# build/Makefile
# build/makefile.old
# build/glfwback
# build/glfw-3.3.9back
# build/deps/*
# bin/release/GLStuffRelease
# bin/debug/GLStuffDebug
build/*
imgui.ini
